/* RESET - usuwamy domyślne style przeglądarki */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: border-box sprawia, że padding i border 
       są wliczane w szerokość elementu - ułatwia pracę */
}
/* ZMIENNE CSS - łatwa zmiana kolorów w całym projekcie */

:root {
    --primary-color: #6F4E37;
    --secondary-color: #FFF8DC;
    --text-dark:#333;
    --text-light:#666;
    --white:#ffffff;
}

/* Pytanie: Jak myślisz, po co używamy zmiennych CSS (--primary-color)?
   Wskazówka: Co się stanie gdy zechcemy zmienić kolor w 20 miejscach? */

   body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-dark); 
   }

   .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* Pytanie: Co robi "margin: 0 auto"? Wypróbuj zmienić na "margin: 0" */
   }

   .navbar {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem 0;
   }

   .hero {
    background: linear-gradient(rgba(111, 78, 55, 0.9), rgba(111, 78, 55, 0.9)),
                url('https://plus.unsplash.com/premium_photo-1675435644687-562e8042b9db?q=80&w=749&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
            background-position: center;
            min-height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
   }
   .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
   }

   .btn-primary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    }
    .btn-primary:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minimax(250px, 1fr));
        gap: 2rem;
    }

    .product-card {
        background-color: var(--secondary-color);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 15px 15px;
    }